@if (ViewBag.SuccessTitle == null)
{
    <h3>
        An error occured while processing your request.
        The support team is notified and we are working on the fix
    </h3>
    <h5>Please contact us at appsrequest@mof.gov.tl</h5>
}
else
{
    <h1 class="text-success">@ViewBag.SuccessTitle</h1>
    <h6 class="text-success">@ViewBag.SuccessMessage</h6>
}
