@{
    ViewBag.Title = "List of uploaded files";
}

<h1>Path: /</h1>
@if (User.Identity.IsAuthenticated && User.IsInRole("Admins"))
{
    <a class="btn btn-primary" asp-action="UploadFiles" asp-route-path="/">Upload</a>
}

<hr />
<h2>Projects</h2>
@if (Model.Directories.Count > 0)
{
    <ul>
        @foreach (var item in Model.Directories)
        {
            <li>
                <a asp-action="project"
                   asp-route-projectName="@item.Name">
                    @item.Name
                </a>
            </li>
        }
    </ul>
}
<hr />
<h2>Files</h2>
@if (Model.Files.Count > 0)
{
    <ul>
        @foreach (var item in Model.Files)
        {
            <li>
                <a asp-action="Download"
                   asp-route-filename="@item.Name">
                    @item.Name
                </a>
            </li>
        }
    </ul>
}
else
{
    <div>None at the moment</div>
}

