.btn
{
    width: 75px;
}

.imageThumbnail {
    height: 200px;
    width: auto;
}



.arrowpopup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.arrowpopup .tooltiptext {
    visibility: hidden;
    width: 300px;
        
    background-color: #92a8d1;
        
    color: white;
    text-align: left;
    border-radius: 4px;
    padding: 9px;
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-left: -85px;
}

.arrowpopup .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #856 transparent transparent transparent;
}

.arrowpopup .show {
    visibility: visible;
}
